<!--
============================================
; Title: Bob's Computer Repair Shop (Sprint 2)
; Author: Professor Krasso
; Date: 24 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
-->
<div class="container">
  <button mat-button routerLink="/">
    <img class="logo" src="/assets/bcrs.png" width="170" alt="">
  </button>

  <div class="fourofour" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px">
    <div fxFlex="200px" class="fourofour-text">
      Hmmm..<br />
      Something<br />
      went wrong...<br /><br />
      <button mat-raised-button color="primary" routerLink="/">Home Page</button>
    </div>

    <div fxFlex>
      <img src="/assets/500.png" alt="">
      <a href="https://storyset.com" target="_blank">Illustration by Storyset</a>
    </div>
  </div>
</div>
