<div fxLayout="column">
  <div class="contact-heading">Get In Touch.</div>
  <div class="contact-subheading">We Would Love to Hear From You!</div>
  <div fxLayoutAlign="center stretch" fxLayoutGap="10px">
    <mat-card fxFlex="20">
      <div class="card-inner">
        <div class="card-front">
          <i class="pi pi-phone" style="font-size: 2rem"></i>
          <br><br>
          <mat-card-subtitle>Office <br>(123) 456-7890</mat-card-subtitle>
        </div>
        <div class="card-back"><img src="../../../assets/bcrs.png" alt=""></div>
      </div>
    </mat-card>
    <mat-card fxFlex="20">
      <div class="card-inner">
        <div class="card-front">
          <i class="pi pi-map" style="font-size: 2rem"></i>
          <br><br>
          <mat-card-subtitle>Address <br> 1111 Main Street <br>
            New York, NY 12312</mat-card-subtitle>
        </div>
        <div class="card-back"><img src="../../../assets/bcrs.png" alt=""></div>
      </div>
    </mat-card>
    <mat-card fxFlex="20">
      <div class="card-inner">
        <div class="card-front">
          <i class="pi pi-envelope" style="font-size: 2rem"></i>
          <br><br>
          <mat-card-subtitle>Email <br> Bob@bcrs.com</mat-card-subtitle>
        </div>
        <div class="card-back"><img src="../../../assets/bcrs.png" alt=""></div>
      </div>
    </mat-card>

  </div>
</div>
