/*
============================================
; Title: Bob's Computer Repair Shop (Sprint 1)
; Author: David Rachwalik
; Date: 22 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
*/
:host {
  display: block;
}
/* container */
.container {
  width: 100%;
  background: rgb(255, 255, 255);
  position: relative;
  min-height: 100vh;
  a {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
  }
}
/* logo */
.logo {
  position: absolute;
  top: 1rem;
  left: 3rem;
}
/* 404 image design */
.fourofour {
  margin: auto;
}
.fourofour-text {
  padding: 15rem 1rem;
  font-size: 2.5rem;
  line-height: 45px;
  font-weight: 600;
  color: #263238d3;
  text-align: left;
  a {
    font-size: 0.8rem;
  }
}
