<div class="container">

  <button mat-button routerLink="/"> <img class="logo" src="../../../assets/bcrs.png" width="170" alt=""></button>

  <div class="fourofour" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px">
    <div class="fourofour-text">
      Hmmm.. <br> Somethings <br> gone missing... <br> <br>
      <button mat-raised-button color="primary" style="width: 200px;" routerLink="/">Home Page</button>
    </div>
    <img src="../../../assets/404.gif" width="700" alt="">
  </div>
  <a style="text-align:center ;" href="https://storyset.com/web">Web illustrations by Storyset</a>
</div>
