/*
============================================
; Title: Bob's Computer Repair Shop (Sprint 1)
; Author: David Rachwalik
; Date: 15 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
*/

:host {
  display: block;
}
.table-body {
  background: white !important;
  color: black !important;
}
.number-users {
  font-size: 1.5rem;
  padding-left: 1rem;
}

/* Overrides */
.table-header {
  background: #2a623d !important;
}
