<!--
============================================
; Title: Bob's Computer Repair Shop (Sprint 3)
; Author: David Rachwalik
; Date: 30 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
-->

<!-- create role form -->
<div fxLayout="column">
  <mat-card class="mat-elevation-z8">
    <mat-card-title>Create Role</mat-card-title>
    <br>
    <form [formGroup]="form" (ngSubmit)="create()" #roleForm>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <!-- form controls enforce required fields -->
            <input matInput [formControl]="$any(form.controls['text'])" placeholder="Role text..."
              (keydown.enter)="create()">
            <mat-error class="error"
              *ngIf="form.controls['text'].hasError('required') && form.controls['text'].touched">
              Role is a Required field.
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>

      <br>
      <mat-card-actions>
        <!-- submit button only accessible when form is valid -->
        <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
        <button type="submit" mat-raised-button [disabled]="!form.valid" color="primary">Submit</button>
      </mat-card-actions>
    </form>

  </mat-card>
</div>
