<!--
============================================
; Title: Bob's Computer Repair Shop (Sprint 2)
; Author: Professor Krasso
; Date: 16 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
-->
<br /><br />
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div  style="text-align: center">
        <img src="../../../assets/#" style="max-width: 350px" />
      </div>
      <div  style="text-align: center">
        <em>
          Welcome to Bob's Computer Repair Shop!
          <br /><br />
          Image courtesy of <a href="#" alt="#">#</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex style="padding-right: 20px">
    <h1 style="text-align: center;" color="primary">Who are we?</h1>
    <p>
      Nodebucket is the latest and greatest productivity tool from House Gryffindor. Part of the Gryffindor Productivity Suite, Nodebucket utilizes a user-friendly drag and drop interface to ensure your to-do’s become to-done’s. You can do it all with Nodebucket, including keeping track of all of your tasks, adding new tasks to your lists, ranking your tasks, completing your tasks, and much more. This tool is designed for you, and allows all house members to have their own personal account for task storage!
      <br /><br />
      Using Nodebucket will ensure that you excel at your studies, and stay focused on the important things in life.

    </p>
    <h1 style="text-align: center;" color="primary">What do we do?</h1>
    <p>
      Don't take our word for it! Listen to our satisfied customer testimonials!
    </p>
    <p>
      “I used Nodebucket to keep track of the status of all the horcrux’s. It helped us tremendously in our fight against the Dark Lord.” – Hermione Granger
    </p>
    <p>
      “Nodebucket is a great tool for inventorying the potions ingredient cabinet. With nodebucket, I can see exactly what ingredients were stolen from the potions cabinet.” – Professor Snape
    </p>
    <p>
      “Without Nodebucket, I surely would have failed Defense Against the Dark Arts. Nodebucket was a lifesaver!” – Neville Longbottom
    </p>

  </div>
</div>


