<!--
============================================
; Title: Bob's Computer Repair Shop (Sprint 2)
; Author: Professor Krasso
; Date: 24 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
-->
<br /><br />
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div  style="text-align: center">
        <img src="../../../assets/computer-repair-technician.png" style="max-width: 350px" />
      </div>
      <div  style="text-align: center">
        <strong> Welcome to Bob's Computer Repair Shop Online Service Application!</strong>
        <em>
          <br /><br />
          Image courtesy of <a href="https://www.kindpng.com/imgv/iiwwxwR_computer-repair-technician-installation-personal-icon-computer-technician/" alt="kindpng">kindpng.com</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex style="padding-right: 20px">
    <h1 style="text-align: center;" color="primary">Who are we?</h1>
    <p>
      Bob’s Computer Repair Shop has been in the business of fixing your computers and other gadgets for over 20 years! The new Bob’s Computer Repair Shop online service application allows licensed BCRS employees access to all the tools needed for repair estimates, tracking, and invoicing. Utilizing advanced security features, such as password encryption, security questions, advanced user profiles and roles, and other features, the online service application is a safe and secure way to conduct all your computer repair business.
      <br /><br />
      Designed by House Slytherin, the BCRS online service application is your gateway to all your computer repair needs!

    </p>
    <h1 style="text-align: center;" color="primary">What do we do?</h1>
    <p>
      Bob's Computer Repair Shop Online Service Center can do everything you need, including:
    </p>
    <ul>
      <li>List and select individual services</li>
      <li>Calculate service fees</li>
      <li>Generate invoices</li>
      <li>Track purchases by service</li>
      <li>Create and manage user accounts</li>
    </ul>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;... and much more!</p>
    <p>For additional feature customization, specialized training, or troubleshooting and maintenance, please contact <a href="mailto:support@houseslytherin.com">support@houseslytherin.com</a></p>
    </div>
</div>


