<!--
============================================
; Title: Bob's Computer Repair Shop (Sprint 1)
; Author: David Rachwalik
; Date: 15 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
-->

<!-- security question details -->
<div fxLayout="column">
    <mat-card class="mat-elevation-z8">
        <mat-card-title>Security Question Details</mat-card-title>
        <br />
        <!-- saves security question updates or returns error message-->
        <form [formGroup]="questionForm" (ngSubmit)="saveQuestion()" (keydown.enter)="$event.preventDefault()">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px">
                    <mat-form-field>
                        <input matInput [formControl]="$any(questionForm.controls['text'])" placeholder="Security question text..."
                            (keydown.enter)="saveQuestion()" />

                        <mat-error class="error" *ngIf="questionForm.controls['text'].hasError('required') && questionForm.controls['text'].touched">
                            Security question is a required field.
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <br />

            <mat-card-actions align="end">
              <!-- submit and cancel buttons -->
                <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
                <button mat-raised-button [disabled]="!questionForm.valid" color="accent">Submit</button>
            </mat-card-actions>
        </form>

    </mat-card>
</div>
