<!--
============================================
; Title: Bob's Computer Repair Shop (Sprint 1)
; Author: David Rachwalik
; Date: 15 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
-->

<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to Bob's Computer Repair Shop<br />
    <span class="subtitle">
      Admin Dashboard
    </span>
  </h1>
  <!-- Sub Navigation BEGIN -->
  <div fxFlex fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="space-evenly stretch">

    <mat-card fxFlex="17" class="sub-nav-card mat-elevation-z2" routerLink="/services">
      <mat-card-content class="sub-nav-title">
        Services
      </mat-card-content>
    </mat-card>
    
    <mat-card fxFlex="17" class="sub-nav-card mat-elevation-z2" routerLink="/users">
      <mat-card-content class="sub-nav-title">
        User Configuration
      </mat-card-content>
    </mat-card>


    <mat-card fxFlex="17" class="sub-nav-card mat-elevation-z2" routerLink="/roles">
      <mat-card-content class="sub-nav-title">
        Role Configuration
      </mat-card-content>
    </mat-card>


    <mat-card fxFlex="17" class="sub-nav-card mat-elevation-z2" routerLink="/security-questions">
      <mat-card-content class="sub-nav-title">
        Manage Security Questions
      </mat-card-content>
    </mat-card>


    <mat-card fxFlex="17" class="mat-elevation-z2">
      <mat-card-content>
        Number of Users
      </mat-card-content>
    </mat-card>
    <!-- END Sub navigation -->
  </div>

</div>
