<!--
============================================
; Title: Bob's Computer Repair Shop (Sprint 1)
; Author: David Rachwalik
; Date: 15 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
-->

<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to Bob's Computer Repair Shop<br />
    <span class="subtitle">
      Admin Dashboard
    </span>
  </h1>
  <!-- Sub Navigation BEGIN -->
  <div fxFlex fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="space-evenly stretch">

    <mat-card fxFlex="17" class="sub-nav-card mat-elevation-z2" routerLink="/services">
      <mat-card-content fxLayoutAlign="space-evenly center" class="sub-nav-title">
        <mat-icon>shopping_cart</mat-icon> Services
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="17" class="sub-nav-card mat-elevation-z2" routerLink="/users">
      <mat-card-content fxLayoutAlign="space-evenly center" class="sub-nav-title">
        <mat-icon>people</mat-icon> User Configuration
      </mat-card-content>
    </mat-card>


    <mat-card fxFlex="17" class="sub-nav-card mat-elevation-z2" routerLink="/roles">
      <mat-card-content fxLayoutAlign="space-evenly center" class="sub-nav-title">
        <mat-icon>polymer</mat-icon> Role Configuration
      </mat-card-content>
    </mat-card>


    <mat-card fxFlex="17" class="sub-nav-card mat-elevation-z2" routerLink="/security-questions">
      <mat-card-content fxLayoutAlign="space-evenly center" class="sub-nav-title">
        <mat-icon>security</mat-icon> Manage Security Questions
      </mat-card-content>
    </mat-card>
    <!-- END Sub navigation -->
  </div>
  <br> <br>
  <div>
  </div>
</div>
<app-purchases-by-service-graph></app-purchases-by-service-graph>
