/*
============================================
; Title: Bob's Computer Repair Shop (Sprint 1)
; Author: David Rachwalik
; Date: 15 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
*/

:host {
  display: block;
}
.container {
  padding: 0 3rem;
  background-color: white;
  min-height: 100vh;
  background: #eb01a5;
  background: linear-gradient(to right, #ffffff 50%, #ffffff17),
    url('https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
.card-title {
  color: #2a623d;
}
.signin-footer-link {
  font-size: 0.7rem;
  color: grey;
  padding: 0.5rem 1rem;
  &:hover {
    color: rgb(29, 161, 47);
  }
}
