<!--
============================================
; Title: Bob's Computer Repair Shop (Sprint 1)
; Author: Professor Krasso
; Date: 18 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
-->
<div class="container">
  <img src="../../../assets/bcrs.png" width="170px" style="margin: 2rem  0 " alt="">
  <!-- -------------------------------------------------------------------------------- -->

  <div fxLayout="row wrap" fxLayoutAlign="start start">
    <div fxFlex.lt-md="100" fxFlex.gt-sm="45">
      <br />

      <mat-card class="card-container mat-elevation-z0" style="text-align: center;"> <br>
        <mat-card-title class="mat-headline card-title" style="font-weight:500; font-size:1.8rem;">Sign In
        </mat-card-title>
        <mat-card-subtitle class="mat-subheader">
          Welcome to Bobs Computer Repair Shop!
        </mat-card-subtitle>

        <mat-card-content style="width: 60%; margin: auto">
          <!-- Display error messages if there are any -->
          <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

          <mat-card class="mat-elevation-z0">

            <form [formGroup]="signinForm" (ngSubmit)="signin(); signinForm.reset()">
              <mat-card-content fxLayout="column" fxLayoutGap="5px">

                <mat-form-field fxFlex appearance="outline">
                  <mat-label>Username</mat-label>
                  <input type="text" matInput [formControl]="$any(signinForm.controls['userName'])" />

                  <mat-error class="error"
                    *ngIf="signinForm.controls['userName'].hasError('required') && signinForm.controls['userName'].touched">
                    Username is a required field.
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex appearance="outline">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput [formControl]="$any(signinForm.controls['password'])" />

                  <mat-error class="error"
                    *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched">
                    Password is a required field.
                  </mat-error>

                  <mat-error class="error"
                    *ngIf="signinForm.controls['password'].hasError('pattern') && signinForm.controls['password'].touched">
                    Password must be at least 8 characters and contain one number, one lowercase letter, and one
                    uppercase
                    letter.
                  </mat-error>
                </mat-form-field>

              </mat-card-content>

              <mat-card-actions>
                <button type="submit" [disabled]="!signinForm.valid" fxFlex mat-raised-button
                  color="primary">Submit</button>
              </mat-card-actions>


              <div>
                <div class="signin-footer-container" fxLayout="column">
                  <div fxFlex class="center-text">
                    <a class="signin-footer-link" routerLink="/session/forgot">Forgot Your Password?</a>
                  </div>
                  <br>
                  <div fxFlex class="center-text" style="font-size: .7rem ; "> Dont have an Account?
                    <br>
                    <a class="signin-footer-link" style="font-size: 1rem; text-decoration: none; font-weight: 500;"
                      routerLink="/session/register">Sign Up</a>
                  </div>

                </div>
              </div>
            </form>

          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
