@use 'sass:map';
@import '../../../styles/themes/slytherin-palette';

/* Toolbar Styling */
.logo {
  height: 95%;
}

.toolbar {
  background-color: map.get($md-slytherin-dark-green, 'contrast', 300);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
}

.navbar-container {
  margin-top: 100px;
  p {
    font-size: small;
    color: map.get($md-slytherin-grey, 300);
  }
}

/* SideNav  */
.navbar-link {
  font-size: 16px;
  font-weight: 400;
  font-family: $lato-font;
  text-align: left;
  color: map.get($md-slytherin-grey, 300);
  padding: 3px 0px 3px 10px;
}
.active {
  background-color: rgba(255, 255, 255, 0.076);
  color: map.get($md-slytherin-grey, 50);
  &::after {
    content: '';
    position: absolute;
    top: 28%;
    left: 0;
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #a0d574;
  }
}
.sidenav {
  position: fixed;
  width: 195px;
  color: map.get($md-slytherin-dark-green, 'contrast', 300);
  background-color: map.get($md-slytherin-dark-green, 400);
  padding-left: 0.7rem;
  height: calc(100vh - 64px);
  margin-top: 64px;
}
mat-icon {
  margin-right: 10px;
}

/* Main Content  */
.main-container {
  margin-top: 64px;
  min-height: calc(100vh - 64px);
}

.main-content {
  padding: 2rem;
}

/* Footer */

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}
