/*
============================================
; Title: Bob's Computer Repair Shop (Sprint 1)
; Author: David Rachwalik
; Date: 15 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
*/

@use 'sass:map';
@import '../../../styles/themes/slytherin-palette';
@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #74d57e;
  animation: blink 3s infinite;
}
.status {
  font-size: 12px;
}
/* Toolbar Styling */
.logo {
  height: 58px;
}

.toolbar {
  background-color: map.get($md-slytherin-dark-green, 'contrast', 300);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  span {
    font-size: 14px;
  }
}

.navbar-container {
  margin-top: 30px;
  p {
    font-size: small;
    color: map.get($md-slytherin-grey, 100);
  }
}

/* SideNav  */
.navbar-link {
  font-size: 16px;
  font-weight: 400;
  font-family: $lato-font;
  text-align: left;
  color: map.get($md-slytherin-grey, 200);
  padding: 3px 0px 4px 15px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.076);
    color: map.get($md-slytherin-grey, 50);

    &::after {
      content: '';
      position: absolute;
      top: 30%;
      left: 0;
      display: inline-block;
      width: 5px;
      height: 20px;
      background-color: #74d57e;
    }
  }
}
.active {
  background-color: rgba(255, 255, 255, 0.076);
  color: map.get($md-slytherin-grey, 50);

  &::after {
    content: '';
    position: absolute;
    top: 30%;
    left: 0;
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #74d57e;
  }
}
.sidenav {
  position: fixed;
  width: 195px;
  color: map.get($md-slytherin-dark-green, 'contrast', 300);
  background: linear-gradient(
    160deg,
    #a0d574,
    1%,
    map.get($md-slytherin-dark-green, 400) 70%
  );

  padding-left: 0.7rem;
  height: calc(100vh - 64px);
  margin-top: 64px;
}
mat-icon {
  margin-right: 10px;
}

/* Main Content  */
.main-container {
  margin-top: 64px;
  min-height: calc(100vh - 64px);
}

.main-content {
  padding: 2rem;
}

/* Footer */

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}
