<mat-toolbar class="toolbar mat-elevation-z3">
  <!-- logo -->
  <button class="logo" routerLink="/" mat-button> <img class="logo" src="../../../assets/bcrs.png" alt=""></button>
</mat-toolbar>

<mat-sidenav-container class="layout-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <!-- navigation -->
    <nav fxFlex>
      <!-- navbar container -->
      <div fxLayout="column" class="navbar-container">

        <p>Favorites</p>
        <button class="navbar-link" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
          true}" mat-button>
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
        <br><br>
        <p>Pages</p>
        <button class="navbar-link" mat-button [routerLinkActive]="['active']">
          <mat-icon>article</mat-icon> About
        </button>
        <button class="navbar-link" mat-button [routerLinkActive]="['active']">
          <mat-icon>near_me</mat-icon>Contact
        </button>

      </div>


    </nav>
  </mat-sidenav>
  <mat-sidenav-content class="main-container">
    <div fxLayout="column">
      <!-- main content -->
      <div fxFlex>
        <main class="main-content" fxFlex="100%;">
          <router-outlet></router-outlet>
        </main>
      </div>

      <!-- footer -->
      <div fxFlex>
        <footer class="footer">
          <mat-toolbar class="footer-content">
            <p>
              &copy; {{year | date: 'yyyy'}} - Bobs Computer Repair Shop - <a href="https://www.bellevue.edu/"
                class="bu-link" target="_blank">Bellevue University</a>
            </p>
          </mat-toolbar>
        </footer>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
