@use 'sass:map';
@import '../../../styles/themes/slytherin-palette';
.logo {
  height: 95%;
}

.toolbar {
  background-color: map.get($md-slytherin-dark-green, 'contrast', 300);
}

.navbar-container {
  margin-top: 8rem;
  p {
    color: map.get($md-slytherin-grey, 300);
  }
}

.navbar-link {
  font-size: 14px;
  font-weight: 400;
  font-family: $lato-font;
  text-align: left;
  color: map.get($md-slytherin-grey, 50);
}

.sidenav {
  width: 14rem;
  color: map.get($md-slytherin-dark-green, 'contrast', 300);
  background-color: map.get($md-slytherin-dark-green, 400);
  padding-left: 1rem;
}
.pi,
mat-icon {
  font-size: 1.3rem;
  margin-right: 5px;
}
/* Main Content  */
.main-container {
  min-height: calc(100vh - 64px);
}

.main-content {
  padding: 2rem;
}

/* Footer */

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}

/* Overrides */
.mat-drawer-container {
  background-color: transparent !important;
}
