/*
============================================
; Title: Bob's Computer Repair Shop (Sprint 2)
; Author: Professor Krasso
; Date: 25 September 2022
; Modified By: Joel Hartung, Allan Trejo, David Rachwalik
;===========================================
*/

@use 'sass:map';
@import 'themes/slytherin-palette';

:host {
  display: block;
}
.graphs-container {
  p-chart {
    margin-left: 10px;
  }
  h2,
  h1,
  span {
    color: rgb(135, 135, 135);
    font-family: 'Lato', sans-serif !important;
  }
  span {
    font-size: 0.7rem;
  }
}
mat-card {
  padding: 2rem 1rem;
}
.gain {
  color: rgb(21, 172, 129) !important;
}
.loss {
  color: rgb(232, 102, 46) !important;
}
.sales-container {
  h2,
  h1,
  span,
  .mat-list-item {
    color: rgb(135, 135, 135) !important;
    font-family: 'Lato', sans-serif !important;
  }
}
