<div fxFlexAlign="row wrap" fxLayoutAlign="space-between stretch" class="graphs-container">
  <mat-card fxFlex="22">
    <h5>Basic</h5>
    <p-chart type="line" [data]="basicData" [options]="options"></p-chart>
  </mat-card>
  <mat-card fxFlex="22">
    <h5>Basic</h5>
    <p-chart type="bar" [data]="basicData" [options]="options"></p-chart>

  </mat-card>
  <mat-card fxFlex="22">
    <h5>Basic</h5>
    <p-chart type="bar" [data]="basicData" [options]="options"></p-chart>

  </mat-card>
  <mat-card fxFlex="22">
    <h5>Basic</h5>
    <p-chart type="scatter" [data]="basicData" [options]="options"></p-chart>

  </mat-card>
</div>
<p>purchases-by-service-graph works!</p>
